<!doctype html>
<!--[if IE 7]> <html lang="en" class="lt-ie9 lt-ie8 no-js"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="lt-ie9 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="lt-ie10 no-js"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <title>Busby Ltd. - Contact Us</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Scaffold modern web app">
        <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600,300" type="text/css">
        <link rel="stylesheet" href="../styles/main.css" type="text/css">
    </head>
    <body class="contact-page">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle=".collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="../images/busbylogo.png" class="logo" />
      <a class="navbar-brand" href="index.html">S.G. Busby Ltd</a>
      <ul class="nav navbar-nav navbar-right social-media visible-mobile">
        <li><a href="https://www.facebook.com/pages/S-G-Busby-Ltd/168664516530162"><img class="social-logo" src="../images/logo_facebook.png" /></a></li>
        <li><a href="https://twitter.com/@sgbusby2010"><img class="social-logo" src="../images/logo_twitter.png" /></a></li>
      </ul>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="about.html">About Us</a></li>
        <li><a href="personal-insurance.html">Personal Insurance</a></li>
        <li><a href="commercial-insurance.html">Commercial Insurance</a></li>
        <li><a href="claims.html">Claims</a></li>
        <li><a href="contact-us.html">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social-media visible-desktop">
        <li><a href="https://www.facebook.com/pages/S-G-Busby-Ltd/168664516530162"><img class="social-logo" src="../images/logo_facebook.png" /></a></li>
        <li><a href="https://twitter.com/@sgbusby2010"><img class="social-logo" src="../images/logo_twitter.png" /></a></li>
      </ul>
    </div>
  </div>
</div>
        <div class="jumbotron">
            <div class="container">
                <h1>Contact Us</h1>
                <p>Contact details for our two branches located in High Wycombe and Marlow. Contact your local branch and we'll be happy to help.</p>
                
            </div>
        </div>
        <div class="container">
            
      
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <h2>High Wycombe Office</h2>
                <p>
                    S G Busby Ltd<br />
                    Picton House<br />
                    106 - 108, Desborough Road<br />
                    High Wycombe<br />
                    Buckinghamshire<br />
                    HP11 2PU
                </p>
            </div>
            <div class="col-sm-6 col-lg-12">
                <p>
                    <h4>Opening Times</h4>
                    Monday to Friday: 9:00am - 5:30pm<br /><br />
                    Saturday: 9:00am - 1:00pm
                    <br /><br />
                    Telephone: 01494 441441<br />
                    Fax: 01494 452864
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2476.5798587393815!2d-0.7583389999999498!3d51.63090500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487661d633ae6ca1%3A0x70371d5ce4f9bab1!2sS+G+Busby+Ltd+Insurance+Brokers!5e0!3m2!1sen!2suk!4v1427559535937" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>  
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <h2>Marlow Office</h2>
                <p>
                    S G Busby Ltd<br />
                    51 West Street<br />
                    Marlow<br />
                    Buckinghamshire<br />
                    SL7 2LS
                </p>
            </div>
            <div class="col-sm-6 col-lg-12">
                <p>
                    <h4>Opening Times</h4>
                    Monday to Friday: 9:00am - 5:00pm<br /><br />
                    Saturday: 9:00am - 1:00pm
                    <br /><br />
                    Telephone: 01628 471557<br />
                    Fax: 01628 477057
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.846552900772!2d-0.7787352494728464!3d51.57104648680955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb7fee819151d4fcd!2sBusby+S+G+Ltd!5e0!3m2!1sen!2suk!4v1427559597888" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>  
</div>
        </div>
        <hr />
<footer>
	<div class="container">
		<p>
		  <small>
		    &copy;2013 S G Busby Ltd (High Wycombe &amp; Marlow). 
		    S G Busby Ltd are Authorised &amp; Regulated by the Financial Conduct Authority (FCA). 
		    S G Busby Ltd are Registered in England No: 1173858. Registered Office: Picton House, 106-108 Desborough Road, High Wycombe, Bucks HP11 2PU.
		  </small>
		  <ul>
		    <li><a href="../downloads/toba.pdf">Terms of Business</a></li>
		    <li><a href="feedback.html">Contact Form</a></li>
		  </ul>
		</p>
	</div>
</footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="../js/vendor/masonry.pkgd.min.js"></script>
        <script src="../js/build.min.js"></script>
    </body>
</html>