---
title: Busby Ltd. - About Us
bodyClass: about-page
introTitle: About Us
introDescription: S G Busby Insurance Brokers have been providing a friendly, efficient and all-inclusive service for over 50 years. Our customers use us for a wide-range of services, from car and household insurance through to public and employers liability insurance.
---

<div class="row">
    <div class="col-md-8">
        <p>
            We believe we can offer you excellent rates, which could save you pounds. We personalise your Insurance to suit your needs, and we do all the work for you.
            <br /><br />
            We are told by our clients that they value us for our competitive prices, and our care in choosing the right insurance product.
            <br /><br />
            Our Accident Management Team offer a reliable, fast and professional service with a dedicated 24/7 Claims Line. 
            <br /><br />
            If you need last minute Insurance check out the links on our Home page, ranging from Temporary Car and Van Insurance to Travel Insurance.
        </p>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Great Service and Products</li>
            <li>Reasonable Prices</li>
            <li>Convenient for you to have all your Policies in one office with S G Busby</li>
            <li>Not all Insurance Products are the same - less cost could mean less cover</li>
            <li>We compare the UK Top Insurance Markets, finding you the best quality cover in seconds</li>
            <li>Flexible payment terms</li>
        </ul>
    </div>        
</div>