---
title: Busby Ltd. - Brightbox scheme
introTitle: Brightbox scheme
introDescription: Latest scheme for Young and low mileage drivers, go the extra mile with S G Busby Insurance.
---

<div class="module">
    <ul>
        <li>Exciting New cost-effective Telematic Scheme.</li>
        <li>Aimed at Low mileage and Young Drivers.</li>
        <li>No Time Curfews.</li>
        <li>Usage Based Insurance</li>
        <li>S G Busby takes driving to a new level, with the latest Broker Specific Telematics Scheme.</li>
        <li>Gives drivers the ability to buy cover based on the number of miles they anticipate driving.</li>
        <li>When 500 miles remain a notification is sent to the policyholder and S G Busby to purchase more miles.</li>
        <li>A Telematics device is installed in less than one hour.</li>
        <li>Driving data is collected giving feedback to the driver and S G Busby via a customer dashboard and administration portal.</li>
    </ul>
</div>