---
title: Busby Ltd. - Claims
introTitle: Claims
introDescription: By its very nature, making a claim can be stressful. 
---

<div class="row">
    <div class="col-md-12">
        <p>
            S.G. Busby help you through this difficult time, giving you the support and help you need to make sure life gets back to normal as quickly and easily as possible. Our Personal and Professional Service is the reason we have so many contented long-term clients. 
            <br /><br />
            To make a claim, or report to us any accident or loss, contact us as soon as possible.
            <ul>
                <li>Have your Insurance Document ready and call us on <strong>01494 441441</strong></li>
                <li>Our offices are open between <strong>9am and 5.30pm Monday to Friday, 9am - 1pm Saturdays.</strong></li>
                <li>Outside of these hours, you can contact the Insurer direct. There will be information on how to do this in your Policy Documentation. Or use the details on our Contacts Page to visit us during opening hours or email us from the link below.
                </li>
            </ul>
            <p><a href="../downloads/general%20claim%20form.pdf">General Claim Form</a></p>
            <p>Contact Us: <a href="MAILTO:enquiries@sgbusby.co.uk">enquiries@sgbusby.co.uk</a></p>
        </p>
    </div>       
</div>