---
title: Busby Ltd. - Commercial Insurance
bodyClass: commercial-page
introTitle: Commercial Insurance
introDescription: 'Business insurance need not be a time consuming process, it is simple when you speak to our key commercial team.<br />At Busby''s we have key directors who specialise in ensuring you have the best commercial insurance package for your business.<ul><li>A very simple process. Just pick up the phone and talk to us.</li><li>We offer the main commercial insurances, with optional covers, giving you the best solutions possible for your business.</li></ul>'
---
<div class="row" data-masonry="true">
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_public_red.png" /></i> Public Liability</span></h2>
            <p>
                Providing cover for Claims arising from damage or injury to Third Parties.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_employer_red.png" /></i> Employers Liability</span></h2>
            <p>
                This is a Legal Requirement for Employers employing more than one Employee.   
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_advice_red.png" /></i> Professional Indemnity Insurance</span></h2>
            <p>
                This covers you from Negligence or Ommissions, should you give Professional Advice or Services to other Businesses. S G Busby provides Protection for your Business Needs.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_landlord_red.png" /></i> Landlords</span></h2>
            <p>
                Cover for buy to let properties
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_self_red.png" /></i> Self Employed</span></h2>
            <p>
                Cover for working from Home or on Site. 
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_shop_red.png" /></i> Shop &amp; Salon</span></h2>
            <p>
                Protection for Stock, Customers and Staff.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_office_red.png" /></i> Office &amp; Surgery</span></h2>
            <p>
                For Professionals and their business.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_pub_red.png" /></i> Pubs, Restaurants &amp; Hotels</span></h2>
            <p>
                Cover for Buildings, Contents and Liabilities.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_van_red.png" /></i> Van Insurance</span></h2>
            <p>
                Protection for your Business Vehicles and Drivers.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_motortrade_red.png" /></i> Motor Trade</span></h2>
            <p>
                Motor Dealer, Body Repair Shop, Sole Trader running Business from Home.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_motorfleet_red.png" /></i> Motor Fleet</span></h2>
            <p>
                With optional breakdown cover available.
            </p>
        </div>
    </div>                
</div>