---
title: Busby Ltd. - Contact Us
bodyClass: contact-page
introTitle: Contact Us
introDescription: Contact details for our two branches located in High Wycombe and Marlow. Contact your local branch and we'll be happy to help.
---
      
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <h2>High Wycombe Office</h2>
                <p>
                    S G Busby Ltd<br />
                    Picton House<br />
                    106 - 108, Desborough Road<br />
                    High Wycombe<br />
                    Buckinghamshire<br />
                    HP11 2PU
                </p>
            </div>
            <div class="col-sm-6 col-lg-12">
                <p>
                    <h4>Opening Times</h4>
                    Monday to Friday: 9:00am - 5:30pm<br /><br />
                    Saturday: 9:00am - 1:00pm
                    <br /><br />
                    Telephone: 01494 441441<br />
                    Fax: 01494 452864
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2476.5798587393815!2d-0.7583389999999498!3d51.63090500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487661d633ae6ca1%3A0x70371d5ce4f9bab1!2sS+G+Busby+Ltd+Insurance+Brokers!5e0!3m2!1sen!2suk!4v1427559535937" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>  
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6 col-lg-12">
                <h2>Marlow Office</h2>
                <p>
                    S G Busby Ltd<br />
                    51 West Street<br />
                    Marlow<br />
                    Buckinghamshire<br />
                    SL7 2LS
                </p>
            </div>
            <div class="col-sm-6 col-lg-12">
                <p>
                    <h4>Opening Times</h4>
                    Monday to Friday: 9:00am - 5:00pm<br /><br />
                    Saturday: 9:00am - 1:00pm
                    <br /><br />
                    Telephone: 01628 471557<br />
                    Fax: 01628 477057
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.846552900772!2d-0.7787352494728464!3d51.57104648680955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb7fee819151d4fcd!2sBusby+S+G+Ltd!5e0!3m2!1sen!2suk!4v1427559597888" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>  
</div>