---
title: Busby Ltd.
introTitle: It is easy with Busby's
bodyClass: home-page
introDescription: Operating from offices in Marlow and High Wycombe, we work with the leading insurance companies in the market, to ensure we provide cost effective insurance for both our business and personal clients. Our team are experienced insurance professionals, and are trained to understand your unique needs, to formulate the perfect insurance cover. We keep ahead of the industry trends and continue to seek out partner companies who give the broadest price comparison, for a superb range of personal and business insurance products.
---
<div class="row">
    <div class="col-lg-12 hero-panel">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Brightbox - latest scheme for Young and low mileage drivers, go the extra mile with S G Busby Insurance
            </div>
            <div class="panel-body">
                <img src="../images/home_hero.jpg" />
                <div class="panel-content">
                    <ul>
                        <li>Exciting New cost-effective Telematic Scheme.</li>
                        <li>Aimed at Low mileage and Young Drivers.</li>
                        <li>No Time Curfews.</li>
                        <li>Usage Based Insurance</li>
                        <li>S G Busby takes driving to a new level, with the latest Broker Specific Telematics Scheme.</li>
                        <li>Gives drivers the ability to buy cover based on the number of miles they anticipate driving.</li>
                        <li>When 500 miles remain a notification is sent to the policyholder and S G Busby to purchase more miles.</li>
                        <li>A Telematics device is installed in less than one hour.</li>
                        <li>Driving data is collected giving feedback to the driver and S G Busby via a customer dashboard and administration portal.</li>
                    </ul>
                    <a class="btn btn-danger btn-lg" href="brightbox.html" role="button">Read more &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" data-masonry="true">
    <div class="col-md-4 col-sm-4">
        <a href="camerataxi.html">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_taxi_red.png" /></i> Exclusive NEW Scheme available through Busby's Camera Taxi Insurance</span></h2>
                <p>*FREE Camera supplied</p>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="http://www.cover2travel.co.uk/09/index.aspx?rs_id=Ssp_2b1f519">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_airplane_red.png" /></i> European &amp; Worldwide Travel Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="http://quote.ridersure.co.uk/index.cfm?go=quote.step1&int=ab0245001">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_motorbike_red.png" /></i> Motor Cycle Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="http://www.insure4aday.co.uk/quote">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_van_red.png" /></i> Temporary Car &amp; Van Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="https://dca.spectrum-abacus.co.uk/dca.php?id=369&checksum=aff0d6b9b6aa4583d6439b41e4c764ec&product=10">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_home_red.png" /></i> Tenants Contents Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="https://dca.spectrum-abacus.co.uk/dca.php?id=369&checksum=aff0d6b9b6aa4583d6439b41e4c764ec&product=2">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_landlord_red.png" /></i> Landlords Unoccupied Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="https://dca.spectrum-abacus.co.uk/dca.php?id=369&checksum=aff0d6b9b6aa4583d6439b41e4c764ec&product=1">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_landlord_red.png" /></i> Landlords Let Property Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="https://dca.spectrum-abacus.co.uk/dca.php?id=369&checksum=aff0d6b9b6aa4583d6439b41e4c764ec&product=12">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_shop_red.png" /></i> Commercial Property Owners Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="https://dca.spectrum-abacus.co.uk/dca.php?id=369&checksum=aff0d6b9b6aa4583d6439b41e4c764ec&product=3">
            <div class="home-module">
                <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_holiday_red.png" /></i> Holiday Home Insurance</span></h2>
                <p><span class="details">View details &raquo;</span></p>
            </div>
        </a>
    </div>
</div>