---
title: Busby Ltd. - Personal Insurance
bodyClass: personal-page
introTitle: Personal Insurance
introDescription: 'We price match online car &amp; van insurance quotes, subject to terms &amp; conditions.<ul><li>RAC Breakdown Cover</li><li>Excess Protection</li><li>Range of Legal Expenses Product</li><li>Guaranteed Vehicle Hire</li></ul>'
---

<div class="panel panel-danger">
    <div class="panel-heading">
        Insurance for Provisional Young Drivers
    </div>
    <div class="panel-body">
        <p>
            If you are a Learner Driver, and need a Policy in your Own Name, we have the solutions for you.
            <ul>
                <li>Free Cover for Parents to drive your Car.</li>
                <li>No Additional premium when you Pass your Test.</li>
                <li>Massive Discounts Available if your Car is not used between the houres of 11pm and 5am.</li>
            </ul>
            And, if you are looking for Immediate Comprehensive Cover whilst you are a Provisional Driver, then we can insure someone elses car.
        </p>
    </div>
</div>
      
<div class="row" data-masonry="true">
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_car_red.png" /></i> Motor Insurance</span></h2>
            <p>
                Offering Flexible Car & Van Insurance, giving you the protection and right cover. Optional Extras, including Legal Expenses, Breakdown Cover with Roadside and Home Assist. And do not forget we offer a price match scheme for internet prices, subject to terms and conditions.
            </p>
        </div>
    </div>
            
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_home_red.png" /></i> Home Insurance</span></h2>
            <p>
                Whether you have a Combined Policy for both Buildings and Contents, or separate policies, we will find a competitive deal for you. We can quote for standard cover, optional accidental damage cover and all risks cover. We also deal with MID and HIGH Networth Policies. Cover can be arranged for Thatched Properties, and also Houses with a history of subsidence. If you insure with your Mortgage Lenders, we can normally save you 30% off your premium.
            </p>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_owners_red.png" /></i> Property Owners Insurance</span></h2>
            <p>
                We have various schemes available for Landlords, Buildings and Contents cover, Loss of Rent, Optional, along with Accidental Damage cover and Subsidence. Single properties or portfolios.
            </p>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_taxi_red.png" /></i> Taxi Insurance</span></h2>
            <p>
                These policies are for either Public Hire or Private Hire are available from single vehicle policies, to Fleet risks.
            </p>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_motorbike_red.png" /></i> Motor Cycle Insurance</span></h2>
            <p>
                Motor Cycle Insurance Mopeds to High Performance Bikes, we have a wide range of schemes to cover you, including storage and transit for Race Bikes.
            </p>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_classiccar_red.png" /></i> Classic Car Insurance</span></h2>
            <p>
                We have a wide range of markets available, not just for Classic Cars, but also future classics.
            </p>
        </div>
    </div>

    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_boat_red.png" /></i> Boat Insurance</span></h2>
            <p>
                Small Crafts to Yachts, for Inland or Coastal Limits.
            </p>
        </div>
    </div>
            
    <div class="col-md-4 col-sm-4">
        <div class="home-module">
            <h2><span><i class="section-icon car-icon"><img src="../images/icons/icon_caravan_red.png" /></i> Caravan Insurance</span></h2>
            <p>
                Cover for your Touring Caravan on an all risk basis.
            </p>
        </div>
    </div>
</div>