// @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-regular");
// @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-bold", bold);
// @include font-face("source-sans-pro", "/fonts/source-sans-pro/source-sans-pro-italic", normal, italic);

$openSans : 'Open Sans', sans-serif;

h1,h2,h3,h4,h5, .navbar-brand {
	font-family: $openSans;
	font-weight: 600;
}

h1 {
	letter-spacing: -0.05em;
}

h2, h4 {
	color: $backgroundRed;
}