<hr />
<footer>
	<div class="container">
		<p>
		  <small>
		    &copy;2013 S G Busby Ltd (High Wycombe &amp; Marlow). 
		    S G Busby Ltd are Authorised &amp; Regulated by the Financial Conduct Authority (FCA). 
		    S G Busby Ltd are Registered in England No: 1173858. Registered Office: Picton House, 106-108 Desborough Road, High Wycombe, Bucks HP11 2PU.
		  </small>
		  <ul>
		    <li><a href="../downloads/toba.pdf">Terms of Business</a></li>
		    <li><a href="feedback.html">Contact Form</a></li>
		  </ul>
		</p>
	</div>
</footer>